/**
 * Typographie responsive (Mobile First)
   ========================================================================
 * Les valeurs de taille de police suggérées ici sont à titre indicatif.
 * À ajuster selon la direction visuelle et le choix de polices de caractères.
 *
 * @author Olivia Fadiga olivia.fadga.pa@hotmail.com
 *
 * TABLE DES MATIÈRES
 * Polices
 * Base décimale
 * Hiérarchie responsive
 *
 *
 * Doc des points de rupture :
 * ==========================================================================
 * Écran étroit : de 0 à 768x
 * point de rupture: 768px
 *
 * Écran moyen : de 600 à 992px
 * point de rupture: 992px
 *
 * Écran large : 992px et +
 */


/** Polices **/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

/** Base décimale **/
html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
  }
 h1 {
    font-family: "Shrikhand";
    font-size: 28px;
    font-weight: 500;
  }
 h3 {
    font-size: 18px;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 a {
    text-decoration: none;
    color: black;
  }
  
  body {
    margin: 0%;
        /* 16px pour toutes les largeurs d'écran */
        font-size: 16px;
        font-size: 1.6rem;
        /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
        line-height: 1.375;
  }
