@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0%;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}
html h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 500;
}
html h3 {
  font-size: 18px;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  margin: auto;
  /* 16px pour toutes les largeurs d'écran */
  font-size: 16px;
  /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
  line-height: 1.375;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 14px;
}

.btn_validateur {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_validateur .btn_valid {
  width: 200px;
  height: 40px;
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  color: #fff;
  border-radius: 20px;
  margin: 15px 0 30px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}
.btn_validateur .btn_valid:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 15px 5px #d6d6d6;
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #000000;
}
.header__logo {
  width: 200px;
  display: block;
  margin: auto;
}
.header_arrow {
  left: 5px;
  font-size: 30px;
  margin-left: 20px;
  position: absolute;
}
.header .imgLogo {
  width: 200px;
  display: block;
  margin: auto;
}

/* footer */
footer {
  background-color: #424847;
  padding: 20px;
}
footer h4 {
  font-family: "Shrikhand";
  font-size: 24px;
  font-weight: lighter;
  margin: 20px 0 20px 0;
  color: #fff;
}
footer ul {
  list-style-type: none;
}
@media screen and (min-width: 600px) {
  footer ul {
    display: inline-block;
  }
}
footer ul a {
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul a i {
  margin-right: 10px;
  width: 18px;
}
@media screen and (min-width: 600px) {
  footer {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    text-align: start;
  }
}

.formulaireDecouverte {
  height: 320px;
  display: flex;
  background-color: #f5f4f4;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
.formulaireDecouverte .formulaire {
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  background-color: #d8dad9;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulaireDecouverte .formulaire .champTxt {
  border: none;
  background-color: #d8dad9;
  font-size: 18px;
  max-width: 130px;
}
.formulaireDecouverte__btn {
  width: 200px;
  height: 40px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: #fff;
  border-radius: 20px;
  margin: 15px 0 30px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: transform 0.2s;
}
.formulaireDecouverte__btn:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 15px 5px #d6d6d6;
}
.formulaireDecouverte__logo {
  margin-right: 20px;
  font-size: 22px;
}
.formulaireDecouverte__text {
  flex-direction: column;
  height: auto;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.formulaireDecouverte__text .h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.formulaireDecouverte__text h2 {
  width: 60%;
}
.formulaireDecouverte__text p {
  width: 80%;
}
.formulaireDecouverte__text a {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*loader spinner*/
.loader_Spinner {
  -webkit-animation: fade-out 1s ease-out 1.5s;
          animation: fade-out 1s ease-out 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 20;
  opacity: 1;
}

.lds-hourglass {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.lds-hourglass:after {
  content: " ";
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #9356DC;
  border-color: #9356DC transparent #9356DC transparent;
  -webkit-animation: lds-hourglass 1.2s infinite;
          animation: lds-hourglass 1.2s infinite;
}

@-webkit-keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    /*top: 0;*/
  }
  to {
    top: -100vh;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    /*top: 0;*/
  }
  to {
    top: -100vh;
  }
}
/* Section fonctionnement */
.fonctionnement {
  margin-bottom: 30px;
  padding: 20px;
}
.fonctionnement__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__menu {
    justify-content: space-around;
  }
}

.listeFonctionnement {
  list-style: none;
}
@media screen and (min-width: 1024px) {
  .listeFonctionnement {
    display: contents;
  }
}
.listeFonctionnement .btn {
  width: 90%;
  min-width: 280px;
  max-width: 350px;
  height: 70px;
  text-decoration: none;
  background-color: #f5f4f4;
  border-radius: 20px;
  margin: 15px 0 15px 0;
  box-shadow: 0px 5px 15px 2px #d6d6d6;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .listeFonctionnement .btn {
    width: 100%;
    height: 60px;
    min-width: 350px;
    max-width: 500px;
  }
}
.listeFonctionnement .btn i {
  margin: 0 25px 0 25px;
  opacity: 0.8;
}
.listeFonctionnement .btn_chiffre {
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 20px;
  color: #fff;
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listeFonctionnement .btn:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.listeFonctionnement .btn:hover i {
  color: #9356DC;
}

/* Section restaurant page accueil */
.sectionRestaurants {
  background-color: #f5f4f4;
  padding: 20px;
}
.sectionRestaurants__card-new {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: transparent;
  position: absolute;
  width: 75%;
  margin: 20px;
}
@media screen and (min-width: 600px) {
  .sectionRestaurants__card-new {
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .sectionRestaurants__card-new {
    width: 35%;
  }
}
.sectionRestaurants__card-new p {
  background: #99e2d0;
  color: #1b6150;
  padding: 10px 20px;
  margin: 0;
}
.sectionRestaurants__conteneur-articles {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.sectionRestaurants__conteneur-articles .info-resto {
  box-shadow: 0px 5px 15px 2px #d6d6d6;
  border-radius: 15px;
  background-color: #fff;
  width: 100%;
  margin: 10px;
  max-width: 550px;
}
.sectionRestaurants__conteneur-articles .img-resto {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media screen and (min-width: 600px) {
  .sectionRestaurants__conteneur-articles .img-resto {
    height: 200px;
  }
}
.sectionRestaurants__description {
  padding: 10px;
  flex-direction: column;
}
.sectionRestaurants__description p {
  font-size: 18px;
  margin: 5px;
}
.sectionRestaurants .article_bloc_absolut {
  padding-right: 10px;
}
.sectionRestaurants .carte {
  display: flex;
  justify-content: space-between;
}

/* Bouton favoris menu */
.far {
  margin-top: 10px;
  margin-right: 3%;
  align-self: baseline;
  font-size: 30px;
}
.far:hover {
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: apparition 1s ease-in-out forwards;
          animation: apparition 1s ease-in-out forwards;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* image menu */
.img_palette {
  background-image: url(../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.img_note {
  background-image: url(../images/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.img_franc {
  background-image: url(../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.img_delice {
  background-image: url(../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

/* menus styles */
.main {
  background-color: #f5f4f4;
}
.main h1 {
  margin-right: 50px;
}
.main h2 {
  font-size: 18px;
}
.main h2:after {
  content: ".";
  display: block;
  border-bottom: 4px solid #99e2d0;
  width: 45px;
  margin-top: 5px;
  font-size: 0px;
}
.main_img {
  height: 250px;
  border-radius: 0;
  background-position: center;
  background-size: cover;
  width: auto;
}
.main_restau {
  background-color: #f5f4f4;
  margin-top: -40px;
  border-radius: 35px 35px 0 0;
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .section {
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .main .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.main .section_bloc {
  margin-bottom: 1%;
  background-color: #f5f4f4;
  padding: 20px;
}
@media screen and (min-width: 1024px) {
  .main .section_bloc {
    width: 50%;
  }
}
.main .section_bloc .carte {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .section_bloc .carte_plat {
  opacity: 0;
  width: 100%;
  max-width: 680px;
  height: 70px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 2px #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .section_bloc .carte_plat:hover .carte_plat_okmenu {
  width: 80px;
}
.main .section_bloc .carte_plat:hover .carte_plat_okmenu i {
  transform: rotateZ(-360deg);
  transition: 0.3s;
}
.main .section_bloc .carte_plat_prix {
  width: 15%;
  font-weight: bold;
}
.main .section_bloc .carte_plat_prix p {
  text-align: right;
  margin: 32px 15px 0 0;
}
.main .section_bloc .carte_plat_okmenu {
  display: inline-block;
  width: 0px;
  overflow: hidden;
  height: 100%;
  background-color: #99E2D0;
  color: #fff;
  font-size: 24px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
.main .section_bloc .carte_plat_texte {
  width: 85%;
  padding: 5px 0 5px 10px;
  font-size: 14px;
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
.main .section_bloc .carte_plat_texte p {
  font-size: 16px;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/***** BOUCLE delay animation entré plats *****/
.plat_1 {
  -webkit-animation: menuanimation 0.7s ease-in-out forwards 0.2s;
          animation: menuanimation 0.7s ease-in-out forwards 0.2s;
}

.plat_2 {
  -webkit-animation: menuanimation 0.7s ease-in-out forwards 0.4s;
          animation: menuanimation 0.7s ease-in-out forwards 0.4s;
}

.plat_3 {
  -webkit-animation: menuanimation 0.7s ease-in-out forwards 0.6s;
          animation: menuanimation 0.7s ease-in-out forwards 0.6s;
}

.plat_4 {
  -webkit-animation: menuanimation 0.7s ease-in-out forwards 0.8s;
          animation: menuanimation 0.7s ease-in-out forwards 0.8s;
}

.plat_5 {
  -webkit-animation: menuanimation 0.7s ease-in-out forwards 1s;
          animation: menuanimation 0.7s ease-in-out forwards 1s;
}

.plat_6 {
  -webkit-animation: menuanimation 0.7s ease-in-out forwards 1.2s;
          animation: menuanimation 0.7s ease-in-out forwards 1.2s;
}

.plat_7 {
  -webkit-animation: menuanimation 0.7s ease-in-out forwards 1.4s;
          animation: menuanimation 0.7s ease-in-out forwards 1.4s;
}

.plat_8 {
  -webkit-animation: menuanimation 0.7s ease-in-out forwards 1.6s;
          animation: menuanimation 0.7s ease-in-out forwards 1.6s;
}

.plat_9 {
  -webkit-animation: menuanimation 0.7s ease-in-out forwards 1.8s;
          animation: menuanimation 0.7s ease-in-out forwards 1.8s;
}

.plat_10 {
  -webkit-animation: menuanimation 0.7s ease-in-out forwards 2s;
          animation: menuanimation 0.7s ease-in-out forwards 2s;
}

@-webkit-keyframes menuanimation {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes menuanimation {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */