@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
html {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
    h1 {
    font-family: "Shrikhand";
    font-size: 28px;
    font-weight: 500;
}
h3 {
    font-size: 18px;
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
body {
    margin: 0%;
        /* 16px pour toutes les largeurs d'écran */
        font-size: 16px;
        font-size: 1.6rem;
        /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
        line-height: 1.375;
  }
textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
}